<VirtualHost *:80>
	ProxyRequests Off
	<Proxy *>
		Order deny,allow
		Allow from all
	</Proxy>
	
	ProxyPass /about http://wordpress.localdomain/mobile
	ProxyPassReverse /about http://wordpress.localdomain/mobile
	
	ServerName mobile
	ServerAlias mobile.l
	ServerAlias mobile.localdomain
	
	DocumentRoot /Users/jlang/Sites/php/mobile/future/web
	
	CustomLog /Users/jlang/Sites/apache/logs/mobile-access.log combined
	ErrorLog /Users/jlang/Sites/apache/logs/mobile-error.log
	
	<Directory /Users/jlang/Sites/php/mobile/future/web>
	  Options Indexes FollowSymLinks MultiViews
	  Order allow,deny
	  Allow from all
	</Directory>
</VirtualHost>